body {
    font-family: 'Pretendard', sans-serif;
    background-color: black;
    color: white;
    text-align: center;
  }
  
  header {
    padding: 50px;
  }
  
  h1 {
    font-size: 2.5rem;
    line-height: 1.5;
    margin: 0;
  }
  
  h2 {
    font-size: 1.25rem;
    margin: 10px 0;
  }
  
  p {
    font-size: 1rem;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
  }
  
  footer {
    margin-top: 50px;
    padding: 30px;
    background-color: black;
    color: white;
    font-size: 0.875rem;
  }

  .title{
    font-size: clamp(5rem, 10vw, 10rem);    
    font-family: 'Grandiflora One', cursive;
  }
  