body {
    font-family: 'Pretendard', sans-serif;
    background-color: black;
    font-weight: 100;
    color: white;
    text-align: left;
  }
  
  header {
    padding: 50px;
  }
  
  h1 {
    font-size: 2.5rem;
    line-height: 1.5;
    margin: 0;
  }
  
  h2 {
    font-size: 1.25rem;
    margin: 10px 0;
  }
  
  p {
    font-size: clamp(1rem, 1vw, 2rem);
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
  }
  
  footer {
    margin-top: 50px;
    background-color: black;
    color: white;
    font-size: 0.875rem;
  }

  .title{
    font-family: "Grandiflora One", serif;
    font-size: clamp(5rem, 10vw, 10rem);
    line-height: 70%;
  }

  .sub-title{
    font-family: "Grandiflora One", serif;
    font-size: clamp(2rem, 2vw, 4rem);
  }

  .sub-title-kor{
    font-size: clamp(2rem, 2vw, 4rem);
  }

  .contents{
    font-size: 1.25rem;
  }
  